<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Click here to <%= link_to 'reset password', reset_password_url(email: @email, token: @token) %></p>
    <p>Your password reset link will expire in 1 hour</p>
  </body>
</html>
