<div uk-grid>
    <div class="uk-child-width-1-4">ABCABC ABC ABC ABC ABC ABC ABC ABC </div>
    <div class="uk-child-width-3-4">ABCABC ABC ABC ABC ABCBCABC ABC ABC ABC ABCBCABC ABC ABC ABC ABCBCABC ABC ABC ABC ABC </div>
</div>
