<br />
<div class="uk-flex uk-flex-center">
  <div></div>
  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
    <h3 class="uk-card-title">Register</h3>
    <%= render "form", model: @user %>
  </div>
  <div></div>
</div>
