<br />
<div class="uk-card uk-card-default uk-card-hover uk-card-body">
  <ul uk-tab>
    <li class="uk-active"><a href="#"><h3 class="uk-margin-remove">Edit post</h3></a></li>
  </ul>
  <%= render "form", model: @post %>
</div>
